<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
  </head>
  <body>
    <a href="/students"> Students</a>
    <a href="/students/new">Create new</a>
    <p></p>
    <%= yield %>
  </body>
</html>
